# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/assets/images/screens/wf
src/assets/images/miscellaneous
src/assets/images/ai-owls
src/assets/images/softwares/wf
src/assets/images/GD-Logo
src/assets/images/Heroes-wf

src/assets/images/softwares/Sofwares-Arsenal.psd
src/assets/images/styleguide/wf

src/assets/images/styleguide/parallaxImages/wf
src/assets/images/styleguide/Carousel/carousel-cherry/wf
src/assets/images/styleguide/Carousel/wf
src/assets/images/styleguide/Carousel/carousel-cherry/440218585_448914810858422_2713123447053409897_n.psd
src/assets/images/wf
src/assets/images/WF/*
src/assets/images/WF

src/firebaseConfig.js
src/firebase.tsx
src/.env
src/firebase/firebaseConfig.js
.env
src/firebase.tsx
